<% if @page.photos.present? %>
  <div class="owl-carousel owl-theme">
    <% @page.photos.each do |photo| %> 
      <div class="">
        <%= image_tag photo.picture, class: '', alt: photo.caption %>
      </div>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <table class="table">
      <thead>
        <tr>
          <th>
            Photo
          </th>
          <th>
            Delete
          </th>
        </tr>
      </thead>
      <tbody>
        <% @page.photos.each do |photo| %>
        <tr>
          <td>
            <%= photo.caption %>
          </td>
          <td>
            <%= link_to 'Delete', page_photo_path(photo), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>


<script type="text/javascript">
$(document).ready(function(){
  $('.owl-carousel').owlCarousel({
    stagePadding: 50,
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:3
        }
    }
  });
});
</script>