<h1>Our Availability</h1>

<%= month_calendar(attribute: :start_date, end_attribute: :end_date) do |date| %>
  <%= date %>
<% end %>

<br />

Needs calander 

<br />

Needs to show availability and editably by client

<br />